Repository dart-lang/ecosystem, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, package:blast_repo, package:corpus, package:dart_flutter_team_lints, package:firehose, package:repo_query

regenerate mono_repo
  .github/workflows/dart.yml
  pkgs/repo_query/mono_pkg.yaml
Labels: infra, package:repo_query

Update common.dart
  pkgs/repo_query/lib/src/common.dart
Labels: package:repo_query

adjust recommended tag format
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  pkgs/blast_repo/bin/blast_repo.dart
  pkgs/blast_repo/lib/src/tweaks/auto_publish_tweak.dart
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/lib/firehose.dart
Labels: infra, package:blast_repo, package:firehose

more type safety
  pkgs/repo_query/lib/src/common.dart
  pkgs/repo_query/lib/weekly.dart
Labels: package:repo_query

Bump dep on dart_flutter_team_lints
  pkgs/blast_repo/pubspec.yaml
  pkgs/corpus/pubspec.yaml
  pkgs/firehose/pubspec.yaml
Labels: package:blast_repo, package:corpus, package:firehose

Bump dep on dart_flutter_team_lints (#74)
  pkgs/blast_repo/pubspec.yaml
  pkgs/corpus/pubspec.yaml
  pkgs/firehose/pubspec.yaml
Labels: package:blast_repo, package:corpus, package:firehose

adjust recommended tag format (#73)
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  pkgs/blast_repo/bin/blast_repo.dart
  pkgs/blast_repo/lib/src/tweaks/auto_publish_tweak.dart
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/lib/firehose.dart
Labels: infra, package:blast_repo, package:firehose

Update pkgs/repo_query/lib/src/common.dart
  pkgs/repo_query/lib/src/common.dart
Labels: package:repo_query

review comments
  pkgs/repo_query/lib/labels.dart
Labels: package:repo_query

.github/labeler.yml:

# This configures the .github/workflows/pull_request_label.yml workflow. 

'infra':
  - '.github/**'

'package:blast_repo':
  - pkgs/blast_repo/**/*

'package:corpus':
  - pkgs/corpus/**/*

'package:dart_flutter_team_lints':
  - pkgs/dart_flutter_team_lints/**/*

'package:firehose':
  - pkgs/firehose/**/*

'package:repo_query':
  - pkgs/repo_query/**/*
