Repository dart-lang/ecosystem, pull requests merged in 2023-02, with the labels that each got.

#70 add an sdk workflow input param
  .github/workflows/publish.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, infra

#71 add more lints to package:dart_flutter_team_lints
  .github/workflows/dart.yml
  pkgs/blast_repo/pubspec.yaml
  pkgs/corpus/bin/deps.dart
  pkgs/corpus/pubspec.yaml
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
  pkgs/dart_flutter_team_lints/test/validate_test.dart
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/pubspec.yaml
Labels: package:corpus, package:dart_flutter_team_lints, package:blast_repo, package:firehose, infra

#74 Bump dep on dart_flutter_team_lints
  pkgs/blast_repo/pubspec.yaml
  pkgs/corpus/pubspec.yaml
  pkgs/firehose/pubspec.yaml
Labels: package:corpus, package:blast_repo, package:firehose

#73 adjust recommended tag format
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  pkgs/blast_repo/bin/blast_repo.dart
  pkgs/blast_repo/lib/src/tweaks/auto_publish_tweak.dart
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/lib/firehose.dart
Labels: package:blast_repo, package:firehose, infra

#72 contribute a repo query tool and scripts
  .github/ISSUE_TEMPLATE/repo_query.md
  .github/labeler.yml
  .github/workflows/dart.yml
  README.md
  pkgs/repo_query/README.md
  pkgs/repo_query/analysis_options.yaml
  pkgs/repo_query/bin/report.dart
  pkgs/repo_query/lib/branches.dart
  pkgs/repo_query/lib/labels.dart
  pkgs/repo_query/lib/links.dart
  pkgs/repo_query/lib/src/common.dart
  pkgs/repo_query/lib/weekly.dart
  pkgs/repo_query/mono_pkg.yaml
  pkgs/repo_query/pubspec.yaml
  pkgs/repo_query/pubspec_overrides.yaml
Labels: infra

#78 Update labeler.yml
  .github/labeler.yml
Labels: type-infra

#77 support an 'publish-ignore-warnings' label
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, type-infra, publish-ignore-warnings

#76 add a 'labels-update' command
  pkgs/repo_query/README.md
  pkgs/repo_query/lib/labels.dart
  pkgs/repo_query/lib/labels_update.dart
  pkgs/repo_query/lib/src/common.dart
  pkgs/repo_query/pubspec.yaml
  pkgs/repo_query/pubspec_overrides.yaml
Labels: package:repo_query
