Repository dart-lang/ecosystem, pull requests merged in 2023-06, with the labels that each got.

#104 fix: More robust version check
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/changelog.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/changelog_test.dart
Labels: package:firehose

#112 Allow prerelease suffix in CHANGELOG versions
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/changelog.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/changelog_test.dart
Labels: package:firehose

#116 dart pub global run mono_repo generate
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#115 Introduce a health checking workflow
  .github/workflows/dart.yml
  .github/workflows/health.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/bin/firehose.dart
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, type-infra

#118 Excise health from firehose
  .github/workflows/health.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/firehose.dart
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/health.dart
  pkgs/firehose/lib/src/utils.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, type-infra

#117 Clean-up and tweaks of the firehose project.
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/health.dart
  pkgs/firehose/lib/src/changelog.dart
  pkgs/firehose/lib/src/utils.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose

#120 Make Changelog class eagerly load and parse file.
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/changelog.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose

#119 Add coverage workflow
  .github/workflows/health.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/lib/src/health/changelog.dart
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/health/lcov.dart
  pkgs/firehose/lib/src/health/license.dart
  pkgs/firehose/lib/src/repo.dart
  pkgs/firehose/lib/src/utils.dart
  pkgs/firehose/test/coverage_test.dart
  pkgs/firehose/test/lcov.info
  pkgs/firehose/test/license_test.dart
Labels: package:firehose, type-infra
