Repository dart-lang/ecosystem, pull requests merged in 2023-12, with the labels that each got.

#201 Upgrades to `health.yaml`
  .github/workflows/health.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/firehose.dart
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/lib/src/health/changelog.dart
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/repo.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/coverage_test.dart
  pkgs/firehose/test/github_test.dart
  pkgs/firehose/test/repo_test.dart
Labels: package:firehose, type-infra

#206 Use Flutter in `health.yaml`
  .github/workflows/health.yaml
Labels: type-infra

#205 normalize sort order of package listing
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/repo.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/changelog_test.dart
  pkgs/firehose/test/coverage_test.dart
  pkgs/firehose/test/license_test.dart
  pkgs/firehose/test/pub_test.dart
  pkgs/firehose/test/repo_test.dart
Labels: package:firehose

#207 Require/support latest pkg:http
  pkgs/corpus/pubspec.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/pubspec.yaml
Labels: package:corpus, package:firehose
