Repository dart-lang/ecosystem, pull requests merged in 2023-09, with the labels that each got.

#158 Pass a parameter for Flutter `firehose` support
  .github/workflows/publish.yaml
  pkgs/firehose/bin/firehose.dart
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/health/health.dart
Labels: package:firehose, type-infra

#159 Add use-flutter arg to validate
  .github/workflows/publish.yaml
Labels: type-infra

#162 Fix publish workflow
  .github/workflows/publish.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/firehose.dart
Labels: package:firehose, type-infra

#163 Fix boolean condition in `publish.yaml`
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
Labels: type-infra

#166 Add missing license header to license.dart
  pkgs/firehose/lib/src/health/license.dart
Labels: package:firehose

#164 Reuse `Github` instances in health workflow.
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
Labels: package:firehose

#165 Write comments on forks for `firehose`
  .github/workflows/post_summaries.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, type-infra

#167 add additional lints to dart_flutter_team_lints
  .github/workflows/dart.yml
  pkgs/blast_repo/lib/src/top_level.dart
  pkgs/corpus/bin/deps.dart
  pkgs/corpus/lib/api.dart
  pkgs/corpus/lib/report.dart
  pkgs/corpus/test/api_test.dart
  pkgs/corpus/test/data/dart_library_references.dart
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/repo.dart
  pkgs/repo_manage/lib/issue_transfer.dart
  pkgs/repo_manage/lib/weekly.dart
Labels: package:corpus, package:dart_flutter_team_lints, package:blast_repo, package:firehose, type-infra, package:repo_manage

#171 fix an issue rendering multi-line changelogs
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/changelog.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/changelog_test.dart
Labels: package:firehose

#169 validate a prerelease setup-dart version
  .github/workflows/dart.yml
Labels: type-infra

#174 Allow both single-workflow and fork-enabled publishing validation
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  pkgs/firehose/README.md
Labels: package:firehose, type-infra

#173 improve support for '-dev' and '-wip' package versions
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/pub.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/pub_test.dart
Labels: package:firehose, type-infra

#153 Add api tool call for testing
  .github/workflows/health.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/repo.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/repo_test.dart
Labels: package:firehose, type-infra

#178 Check for `DO_NOT_SUBMIT` strings.
  .github/workflows/health.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/src/health/health.dart
Labels: package:firehose, type-infra

#180 fix an issue validating pre-release git publishing tags
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/changelog.dart
  pkgs/firehose/lib/src/utils.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/changelog_test.dart
  pkgs/firehose/test/utils_test.dart
Labels: package:firehose

#179 update package:dart_flutter_team_lints to use the beta package:lints
  .github/workflows/dart.yml
  pkgs/blast_repo/pubspec.yaml
  pkgs/corpus/pubspec.yaml
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
  pkgs/dart_flutter_team_lints/tool/dedup.dart
  pkgs/repo_manage/pubspec.yaml
  tool/ci.sh
Labels: package:corpus, package:dart_flutter_team_lints, package:blast_repo, type-infra, publish-ignore-warnings, package:repo_manage
