Repository dart-lang/ecosystem, pull requests merged in 2023-07, with the labels that each got.

#126 Fix bug by switching `reduce` to `fold`
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/health/health.dart
Labels: package:firehose

#127 Prepare for publish
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/pubspec.yaml
Labels: package:firehose

#128 Allow empty coverage
  .github/workflows/health.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, type-infra

#129 blast_repo:auto-publish - add permissions by default
  pkgs/blast_repo/lib/src/tweaks/auto_publish_tweak.dart
  pkgs/blast_repo/pubspec.yaml
Labels: package:blast_repo

#131 add environment input to support github deployment environments
  .github/workflows/publish.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, type-infra

#132 Switch coverage computation
  pkgs/firehose/.gitignore
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/changelog_test.dart
  pkgs/firehose/test/coverage_test.dart
  pkgs/firehose/test/license_test.dart
  pkgs/firehose/test/pub_test.dart
  pkgs/firehose/test/pubspec_test.dart
  pkgs/firehose/test/repo_test.dart
Labels: package:firehose

#133 upgrade to the latest stable action version
  pkgs/blast_repo/lib/src/github_action_resolver.dart
  pkgs/blast_repo/lib/src/utils.dart
  pkgs/blast_repo/test/utils_test.dart
Labels: package:blast_repo

#136 shorten some text in the markdown summary table
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose

#134 Health workflow updates
  .github/workflows/health.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/src/health/changelog.dart
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/utils.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/coverage_test.dart
Labels: package:firehose, type-infra

#140 Finish renaming `coverage_web`
  .github/workflows/health.yaml
Labels: type-infra

#141 Split commenting into new workflow
  .github/workflows/health.yaml
  .github/workflows/post_summaries.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose, type-infra

#142 Add debug message
  .github/workflows/health.yaml
  .github/workflows/post_summaries.yaml
  pkgs/firehose/lib/src/health/health.dart
Labels: package:firehose, type-infra
