Repository dart-lang/ecosystem, pull requests merged in 2023-05, with the labels that each got.

#98 make publish tags link to the release page with populated fields
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/repo.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/repo_test.dart
Labels: package:firehose

#99 add 'autosubmit' to the dependabot config
  .github/workflows/dart.yml
  pkgs/blast_repo/lib/src/tweaks/auto_publish_tweak.dart
  pkgs/blast_repo/lib/src/tweaks/dependabot_tweak.dart
  pkgs/blast_repo/test/dependabot_test.dart
  tool/ci.sh
Labels: package:blast_repo, type-infra

#100 fix the mono_repo generated files
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#102 update the contents of the no-response tweak
  pkgs/blast_repo/lib/src/top_level.dart
  pkgs/blast_repo/lib/src/tweaks/no_reponse_tweak.dart
  pkgs/blast_repo/test/no_response_test.dart
Labels: package:blast_repo

#101 blast repo changes: no-response
  .github/workflows/no-response.yml
Labels: type-infra

#105 regenerate mono_repo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: type-infra

#109 add a 'mono_repo' tweak
  pkgs/blast_repo/README.md
  pkgs/blast_repo/bin/blast_repo.dart
  pkgs/blast_repo/lib/src/repo_tweak.dart
  pkgs/blast_repo/lib/src/top_level.dart
  pkgs/blast_repo/lib/src/tweaks/auto_publish_tweak.dart
  pkgs/blast_repo/lib/src/tweaks/dependabot_tweak.dart
  pkgs/blast_repo/lib/src/tweaks/github_action_tweak.dart
  pkgs/blast_repo/lib/src/tweaks/mono_repo_tweak.dart
  pkgs/blast_repo/lib/src/tweaks/no_reponse_tweak.dart
  pkgs/blast_repo/lib/src/utils.dart
  pkgs/blast_repo/test/mono_repo_test.dart
Labels: package:blast_repo
