Repository dart-lang/ecosystem, pull requests merged in 2023-08, with the labels that each got.

#146 Update health.yaml
  .github/workflows/health.yaml
Labels: type-infra

#151 updates to the label normalization tool
  pkgs/repo_manage/lib/labels_update.dart
Labels: package:repo_manage

#152 Switch to Pub API
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/pub.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose
