Repository dart-lang/ecosystem, pull requests merged in 2024-10, with the labels that each got.

#305 remove the 'version' section from the health checks
  .github/workflows/dart.yml
  .github/workflows/health.yaml
  .github/workflows/health_base.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/utils.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/health_test.dart
  pkgs/firehose/test_data/golden/comment_version.md
  pkgs/firehose/test_data/golden/comment_version_ignore_package.md
Labels: package:firehose, type-infra

#309 ignore redundant 'type-' labels
  pkgs/sdk_triage_bot/lib/triage.dart
  pkgs/sdk_triage_bot/test/triage_test.dart
Labels: package:sdk_triage_bot

#312 refactor the CI to use per-package workflow config files
  .github/ISSUE_TEMPLATE/repo_manage.md
  .github/ISSUE_TEMPLATE/trebuchet.md
  .github/labeler.yml
  .github/workflows/blast_repo.yml
  .github/workflows/corpus.yml
  .github/workflows/dart.yml
  .github/workflows/dart_flutter_team_lints.yml
  .github/workflows/firehose.yml
  .github/workflows/repo_manage.yml
  .github/workflows/sdk_triage_bot.yml
  .github/workflows/trebuchet.yml
  README.md
  mono_repo.yaml
  pkgs/blast_repo/mono_pkg.yaml
  pkgs/corpus/mono_pkg.yaml
  pkgs/dart_flutter_team_lints/mono_pkg.yaml
  pkgs/firehose/mono_pkg.yaml
  pkgs/repo_manage/mono_pkg.yaml
  pkgs/sdk_triage_bot/mono_pkg.yaml
Labels: package:corpus, package:dart_flutter_team_lints, package:blast_repo, package:firehose, type-infra, package:repo_manage, package:sdk_triage_bot

#306 Update instructions for trebuchet
  pkgs/firehose/CHANGELOG.md
  pkgs/repo_manage/lib/issue_transfer.dart
  pkgs/trebuchet/README.md
  pkgs/trebuchet/bin/trebuchet.dart
  pkgs/trebuchet/pubspec.yaml
Labels: package:firehose, package:repo_manage, package:trebuchet
