Repository dart-lang/ecosystem, pull requests merged in 2024-05, with the labels that each got.

#258 Update the dependabot config
  .github/dependabot.yaml
Labels: type-infra

#261 update dependabot config; update related blast tweak
  .github/dependabot.yaml
  pkgs/blast_repo/lib/src/tweaks/dependabot_tweak.dart
  pkgs/blast_repo/test/dependabot_test.dart
Labels: package:blast_repo, type-infra

#263 Update dart_flutter_team_lints to depend on lints v4
  .github/workflows/dart.yml
  pkgs/blast_repo/pubspec.yaml
  pkgs/corpus/pubspec.yaml
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test_data/base_test_repo/pkgs/package1/pubspec.yaml
  pkgs/firehose/test_data/base_test_repo/pkgs/package2/pubspec.yaml
  pkgs/firehose/test_data/base_test_repo/pkgs/package3/pubspec.yaml
  pkgs/firehose/test_data/base_test_repo/pkgs/package5/pubspec.yaml
  pkgs/firehose/test_data/test_repo/pkgs/package1/pubspec.yaml
  pkgs/firehose/test_data/test_repo/pkgs/package2/pubspec.yaml
  pkgs/firehose/test_data/test_repo/pkgs/package3/pubspec.yaml
  pkgs/firehose/test_data/test_repo/pkgs/package5/pubspec.yaml
  pkgs/repo_manage/pubspec.yaml
  tool/ci.sh
Labels: package:corpus, package:dart_flutter_team_lints, package:blast_repo, package:firehose, type-infra, package:repo_manage

#252 add 'unnecessary_library_name' to package:dart_flutter_team_lints
  .github/workflows/dart.yml
  pkgs/blast_repo/pubspec.yaml
  pkgs/corpus/pubspec.yaml
  pkgs/corpus/pubspec_overrides.yaml
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/pubspec_overrides.yaml
  pkgs/repo_manage/pubspec.yaml
  pkgs/repo_manage/pubspec_overrides.yaml
Labels: package:corpus, package:dart_flutter_team_lints, package:blast_repo, package:firehose, type-infra, package:repo_manage
