Repository dart-lang/ecosystem, pull requests merged in 2024-08, with the labels that each got.

#285 add invalid_runtime_check_with_js_interop_types, unintended_html_in_doc_comment
  .github/workflows/dart.yml
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
  tool/ci.sh
Labels: package:dart_flutter_team_lints, type-infra

#287 Fix linting
  pkgs/repo_manage/lib/labels_update.dart
Labels: package:repo_manage

#286 Update PR Health install instructions
  .github/workflows/health.yaml
  pkgs/firehose/README.md
Labels: package:firehose, type-infra, skip-changelog-check, skip-do-not-submit-check

#290 Add check label to github action job name
  .github/workflows/health_base.yaml
Labels: type-infra

#291 Transfer issues in `package:trebuchet`
  pkgs/repo_manage/lib/issue_transfer.dart
  pkgs/trebuchet/README.md
  pkgs/trebuchet/bin/trebuchet.dart
Labels: package:repo_manage

#292 contribute a prompt benchmarking script
  pkgs/sdk_triage_bot/bin/triage.dart
  pkgs/sdk_triage_bot/lib/src/gemini.dart
  pkgs/sdk_triage_bot/lib/src/github.dart
  pkgs/sdk_triage_bot/lib/src/prompts.dart
  pkgs/sdk_triage_bot/lib/triage.dart
  pkgs/sdk_triage_bot/test/triage_test.dart
  pkgs/sdk_triage_bot/tool/bench.dart
  pkgs/sdk_triage_bot/tool/bench.md
  pkgs/sdk_triage_bot/tool/create_tuning_data.dart
Labels: package:sdk_triage_bot

#294 fix calculation for the labels to apply
  pkgs/sdk_triage_bot/lib/triage.dart
Labels: package:sdk_triage_bot
