Repository dart-lang/ecosystem, pull requests merged in 2024-09, with the labels that each got.

#295 Run `dart pub global run mono_repo generate`
  .github/workflows/dart.yml
Labels: type-infra

#293 Continue with labeling after error with issue transfer
  .github/workflows/dart.yml
  pkgs/repo_manage/lib/issue_transfer.dart
  pkgs/repo_manage/pubspec.yaml
Labels: type-infra, package:repo_manage

#296 update the prompt to include `needs-info`
  pkgs/sdk_triage_bot/lib/src/common.dart
  pkgs/sdk_triage_bot/lib/src/gemini.dart
  pkgs/sdk_triage_bot/lib/src/prompts.dart
  pkgs/sdk_triage_bot/lib/triage.dart
  pkgs/sdk_triage_bot/tool/bench.dart
  pkgs/sdk_triage_bot/tool/bench.md
Labels: package:sdk_triage_bot

#298 Update health.dart
  pkgs/corpus/lib/api.dart
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
Labels: package:corpus, package:firehose

#301 rev dep on package:lints to 5.0.0
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
Labels: package:dart_flutter_team_lints

#300 update the trebuchet remaining steps output into a markdown list
  .github/labeler.yml
  pkgs/trebuchet/README.md
  pkgs/trebuchet/bin/trebuchet.dart
Labels: type-infra
