Repository dart-lang/ecosystem, pull requests merged in 2024-01, with the labels that each got.

#208 De-async health checks
  .vscode/launch.json
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/delayed_client.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose

#216 Update health workflow
  .github/workflows/health.yaml
  .github/workflows/health_base.yaml
  .github/workflows/health_internal.yaml
  .github/workflows/post_summaries.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/github_test.dart
Labels: package:firehose, type-infra

#219 Fix `health.yaml` commenting in this repository
  .github/workflows/health_internal.yaml
  .github/workflows/post_summaries.yaml
Labels: type-infra

#217 Update publish.yaml
  .github/workflows/publish.yaml
Labels: type-infra

#221 fix saving of comment ids to disk
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/github_test.dart
Labels: package:firehose

#220 Don't write the failure string when skipping
  .github/workflows/health.yaml
  .github/workflows/health_base.yaml
Labels: type-infra, skip-coverage-check

#222 Run `health.yaml` for bots
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose

#223 Add submodules support to `health.yaml`
  .github/workflows/health.yaml
  .github/workflows/health_base.yaml
Labels: type-infra

#225 Add submodule support to `publish.yaml`
  .github/workflows/publish.yaml
Labels: type-infra

#226 Enable experiments for health
  .github/workflows/health.yaml
  .github/workflows/health_base.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/coverage_test.dart
Labels: package:firehose, type-infra

#218 Add `ignore` flag to health workflows
  .github/workflows/health.yaml
  .github/workflows/health_base.yaml
  .github/workflows/health_internal.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/github.dart
  pkgs/firehose/lib/src/health/changelog.dart
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/health/license.dart
  pkgs/firehose/lib/src/repo.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/coverage_test.dart
  pkgs/firehose/test/health_test.dart
  pkgs/firehose/test/license_test.dart
  pkgs/firehose/test_data/golden/comment_breaking_ignore_package.md
  pkgs/firehose/test_data/golden/comment_changelog_ignore_package.md
  pkgs/firehose/test_data/golden/comment_coverage_ignore_package.md
  pkgs/firehose/test_data/golden/comment_do-not-submit_ignore_package.md
  pkgs/firehose/test_data/golden/comment_license_ignore_license.md
  pkgs/firehose/test_data/golden/comment_license_ignore_package.md
  pkgs/firehose/test_data/golden/comment_version_ignore_package.md
Labels: package:firehose, type-infra, skip-do-not-submit-check
