Repository dart-lang/ecosystem, pull requests merged in 2024-12, with the labels that each got.

#320 Ecosystem testing
  .github/test_repos/repos.json
  .github/workflows/ecosystem_test.yaml
  .github/workflows/ecosystem_test_internal.yaml
  .github/workflows/post_summaries.yaml
  .github/workflows/quest.yml
  pkgs/quest/.gitignore
  pkgs/quest/LICENSE
  pkgs/quest/README.md
  pkgs/quest/analysis_options.yaml
  pkgs/quest/bin/quest.dart
  pkgs/quest/pubspec.yaml
  pkgs/quest/schema.json
  pkgs/quest/test/quest_test.dart
Labels: type-infra, ecosystem-test-intl

#324 Unsubmit donotsubmit
  .github/workflows/health_base.yaml
  pkgs/quest/bin/quest.dart
Labels: type-infra

#323 Rename ecosystem testing package to `canary`
  .github/ISSUE_TEMPLATE/canary.md
  .github/test_repos/repos.json
  .github/workflows/canary.yaml
  .github/workflows/canary_internal.yaml
  .github/workflows/canary_test.yml
  .github/workflows/post_summaries.yaml
  README.md
  pkgs/canary/.gitignore
  pkgs/canary/LICENSE
  pkgs/canary/README.md
  pkgs/canary/analysis_options.yaml
  pkgs/canary/bin/canary.dart
  pkgs/canary/pubspec.yaml
  pkgs/canary/schema.json
  pkgs/canary/test/canary_test.dart
  pkgs/trebuchet/LICENSE
  pkgs/trebuchet/pubspec.yaml
Labels: type-infra, package:trebuchet

#325 Health fixes
  .github/workflows/health_base.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test/health_test.dart
Labels: package:firehose, type-infra

#326 Don't check licenses of generated files
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/license.dart
  pkgs/firehose/pubspec.yaml
  pkgs/firehose/test_data/golden/comment_license.md
  pkgs/firehose/test_data/golden/comment_license_healthchanged.md
  pkgs/firehose/test_data/golden/comment_license_ignore_license.md
  pkgs/firehose/test_data/golden/comment_license_ignore_package.md
  pkgs/firehose/test_data/test_repo/pkgs/package2/lib/anotherLib.dart
Labels: package:firehose

#329 Add more fine grained ignore capabilities to health workflow
  .github/workflows/health.yaml
  .github/workflows/health_base.yaml
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/README.md
  pkgs/firehose/bin/health.dart
  pkgs/firehose/lib/src/health/changelog.dart
  pkgs/firehose/lib/src/health/coverage.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/lib/src/health/license.dart
  pkgs/firehose/test/coverage_test.dart
  pkgs/firehose/test/health_test.dart
Labels: package:firehose, type-infra, skip-do-not-submit-check

#328 [dart_flutter_team_lints] add strict_top_level_inference
  .github/workflows/dart_flutter_team_lints.yml
  .github/workflows/health_internal.yaml
  .github/workflows/publish_internal.yaml
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
Labels: package:dart_flutter_team_lints, type-infra, publish-ignore-warnings
