Repository dart-lang/ecosystem, pull requests merged in 2025-04, with the labels that each got.

#350 Update create_tuning_data.dart
  pkgs/sdk_triage_bot/tool/create_tuning_data.dart
Labels: package:sdk_triage_bot

#349 Update prompts.dart
  pkgs/sdk_triage_bot/lib/src/prompts.dart
Labels: package:sdk_triage_bot

#352 Update README.md
  pkgs/firehose/README.md
Labels: package:firehose, skip-changelog-check, skip-do-not-submit-check

#355 [firehose] Fix dart_apitool invocations with pub workspaces
  .vscode/launch.json
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose

#356 Fix PR label fetching
  .github/workflows/health_base.yaml
  .github/workflows/publish.yaml
Labels: type-infra

#358 Fix label fetching
  .github/workflows/health_base.yaml
  .github/workflows/publish.yaml
Labels: type-infra, P3

#357 [firehose] don't fail publish validation if we see the pub pre-release warning
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/utils.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose
