Repository dart-lang/ecosystem, pull requests merged in 2025-03, with the labels that each got.

#344 Update README.md
  pkgs/firehose/README.md
Labels: package:firehose

#345 Update publish_internal.yaml
  .github/workflows/publish_internal.yaml
Labels: type-infra

#346 Add the discarded_futures lint; rev for publishing
  .github/workflows/health_internal.yaml
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
Labels: package:dart_flutter_team_lints, type-infra

#347 [dart_flutter_team_lints] remove 'discarded_futures'; prep for publishing
  pkgs/dart_flutter_team_lints/CHANGELOG.md
  pkgs/dart_flutter_team_lints/lib/analysis_options.yaml
  pkgs/dart_flutter_team_lints/pubspec.yaml
Labels: package:dart_flutter_team_lints

#348 Update prompts.dart for the area changes
  pkgs/sdk_triage_bot/lib/src/prompts.dart
Labels: package:sdk_triage_bot
