Repository dart-lang/ecosystem, pull requests merged in 2025-01, with the labels that each got.

#334 [corpus] update to latest analyzer, bump min SDK
  .github/workflows/corpus.yml
  pkgs/corpus/lib/api.dart
  pkgs/corpus/pubspec.yaml
Labels: package:corpus, type-infra

#337 [puppy] actually rename command to `run`, sort directories, better logs
  pkgs/puppy/lib/src/run_command.dart
  pkgs/puppy/lib/src/utils.dart
  pkgs/puppy/pubspec.yaml
Labels: package:puppy

#339 print detailed info about the leaked APIs to stdout in the workflow
  pkgs/firehose/CHANGELOG.md
  pkgs/firehose/lib/firehose.dart
  pkgs/firehose/lib/src/health/health.dart
  pkgs/firehose/pubspec.yaml
Labels: package:firehose
